{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endfor %}


{% if name %}
<h1>User Added!</h1>
<br/><br/>

<!--<table class="table table-hover table-bordered table-striped">-->

<!--    {% for our_user in our_user %}-->
<!--    <tr>-->
<!--        <td>{{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }} - -->
<!--            <a href="{{ url_for('delete', id=our_user.id)}}">Delete</a></td>-->
<!--    </tr>-->
<!--    {% endfor %}-->

<!--</table>-->


{% else %}
<h1>User List:</h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="{{ url_for('register') }}" method="post">
        {% if message is defined and message %}
            <div class="alert alert-warning">  <strong>  {{ message }} ???? </strong></div>
        {% endif %}
        <br>
        <div class="form-group">
             Name: <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" name="name">
        </div>
        <div class="form-group">
             Email: <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            Password: <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" name="pswd">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
        <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Login here</a></p>
    </form>
</div>
<br/><br/><br/>
<!--<table class="table table-hover table-bordered table-striped">-->

<!--    {% for our_user in our_user %}-->
<!--    <tr>-->
<!--        <td>{{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }} - -->
<!--            <a href="{{ url_for('delete', id=our_user.id)}}">Delete</a>-->
<!--        </td>-->
<!--    </tr>-->
<!--    {% endfor %}-->

<!--</table>-->

{% endif %}

{% endblock %}