{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endfor %}


{% if name %}
<h1>Thank you for Booking With us</h1>
<br/><br/>

<table class="table table-hover table-bordered table-striped">

    {% for our_user in our_user %}
    <tr>
        <td>{{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }} -
            <a href="{{ url_for('delete', id=our_user.id)}}">Delete</a></td>
    </tr>
    {% endfor %}

</table>


{% else %}
<h1>Reservation</h1>
<br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.Title.label(class="form-label") }}

        {{ form.Title(class="form-control") }}
        <br/>

        {{ form.first_name.label(class="form-label") }}

        {{ form.first_name(class="form-control") }}
        <br/>

        {{ form.last_name.label(class="form-label") }}

        {{ form.last_name(class="form-control") }}
        <br/>
        {{ form.email.label(class="form-label") }}

        {{ form.email(class="form-control") }}
        <br/>
        {{ form.nationality.label(class="form-label") }}

        {{ form.nationality(class="form-control") }}
                <br/>
        {{ form.phone.label(class="form-label") }}

        {{ form.phone(class="form-control") }}
                <br/>
        {{ form.type_of_room.label(class="form-label") }}

        {{ form.type_of_room(class="form-control") }}
                        <br/>
        {{ form.Bedding_Type.label(class="form-label") }}

        {{ form.Bedding_Type(class="form-control") }}
                        <br/>
        {{ form.Number_of_rooms.label(class="form-label") }}

        {{ form.Number_of_rooms(class="form-control") }}
                        <br/>
        {{ form.check_in.label(class="form-label") }}

        {{ form.check_in(class="form-control") }}
                        <br/>
        {{ form.check_out.label(class="form-label") }}

        {{ form.check_out(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-secondary") }}


    </form>
</div>
<br/><br/><br/>
<table class="table table-hover table-bordered table-striped">

    {% for our_user in our_user %}
    <tr>
        <td>{{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }} -
            <a href="{{ url_for('delete', id=our_user.id)}}">Delete</a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endif %}

{% endblock %}